@model IEnumerable<Board.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>


<table class="table">
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i. @Html.ActionLink(item.Name, "Categorized", "Question", new { categId = item.Id }, null)
            </td>            
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
        i++;
    }
</table>

<p>
    @Html.ActionLink("Add a category", "Create", null, new { @class = "btn btn-info btn-default" })
</p>